{% include "header.html" %}
{% include "navbar.html" %}
{% block content %}
    <div class="container-fluid row border">
        {% for ticket in tickets %}
            <div class="container border col m-1 rounded">
                <div class="border text-center rounded my-1">
                    <h5>{{ ticket.title }}</h5>
                </div>
                <div class="text-start">
                    {{ ticket.description }}
                </div>
                {% include "template_ticket_image.html" %}
                <div class="container-fluid text-center mb-1">
                    <a class="btn btn-danger"
                       href="/delete_ticket/?ticket_id={{ ticket.id }}"
                       role="button">Supprimer le ticket {{ ticket.id }}</a>
                </div>
                <div class="container-fluid text-center mb-1">
                    <a class="btn btn-primary"
                       href="/review_from_tickets/?ticket_id={{ ticket.id }}"
                       role="button">Créer une critique</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% include "footer.html" %}