{% include "header.html" %}
{% include "navbar.html" %}

<div class="container mb-3 text-center">
    Créer une critique
</div>
<div class="container mb-3 text-center border">
    <form action="/create_review/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="text-start mb-3">Livre / Article</div>
            <div class="text-start">
                <label for="ticket_title" class="form-label">Titre</label>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="ticket_title"
                       name="ticket_title">
            </div>

            <div class="text-start">
                <label for="ticket_description"
                       class="form-label">Description</label>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="ticket_description"
                          name="ticket_description" row=3></textarea>
            </div>

            <div class="mb-3 text-start">
                <label for="ticket_picture" class="form-label">Image</label>
                <input class="form-control" type="file" id="ticket_picture"
                       name="comment_picture">
            </div>

            <hr>

            <div class="text-start mb-3">Critique</div>

            {% include "gab_review.html" %}
        </div>
    </form>
</div>

{% include "footer.html" %}