<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div id="navbarNavBrand">
        <a class="navbar-brand" href="/">LITReview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end"
         id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Flux</a>
            <a class="nav-link" href="/post/">Posts</a>
            <a class="nav-link" href="/subscribe/">Abonnements</a>
            <a class="nav-link" href="/logout/">Logout</a>
        </div>
    </div>
</nav>