{% include "header.html" %}

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <h2>Register</h2>
            <form action="/register/" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="usernameInput1"
                           class="form-label">Username</label>
                    <input type="text" class="form-control" id="username1"
                           aria-describedby="usernameHelp" name="username">
                    <div id="username1Help" class="form-text">Choose your
                        username.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control"
                           id="password1" name="password1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Password
                        (verify)</label>
                    <input type="password" class="form-control"
                           id="password2" name="password2">
                </div>
                <div class="container-fluid row">
                    <div class="col-8">
                    </div>
                    <div class="text-end col-2">
                        <a href="/" class="btn btn-primary" role="button">Retourner</a>
                    </div>
                    <div class="text-end col-2">
                        <button type="submit" class="btn btn-primary">Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}