<div class="container">
    <div class="row align-items-center">
        <div class="col align-items-center text-center">
            <a class="btn btn-primary" href="#" role="button">Demander une
                critique</a>
        </div>
        <div class="col align-items-center text-center">
            <a class="btn btn-primary" href="#" role="button">Créer une
                critique</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <p>Vous avez publié une critique</p>
        <h5 class="card-header">Véritablement révolutionnaire - ★★★★★☆</h5>
        <div class="card-body">
            <p class="card-text">Une excellente lecture et je vous le recommande
                vivement.</p>
            <div class="card">
                <p class="lead">Ticket - 8748</p>
                <p>Music for a Jilted Generation</p>
                <div>
                    <img src="https://www.zupimages.net/up/21/32/u4q0.jpg"
                         class="rounded" alt="visual">
                </div>
            </div>
            <div class="text-end">
                <a href="#" class="btn btn-primary">Do something</a>
            </div>
        </div>
    </div>
</div>