<div class="container">
    <div class="row align-items-center mb-3 mt-3">
        <div class="col align-items-center text-center">
            <a class="btn btn-primary" href="#" role="button">Demander une
                critique</a>
        </div>
        <div class="col align-items-center text-center">
            <a class="btn btn-primary" href="#" role="button">Créer une
                critique</a>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="card">
        <p>Vous avez publié une critique</p>
        <div class="text-end">
            14:24, 26 août 2023
        </div>
        <h5 class="card-header">Véritablement révolutionnaire - ★★★★★☆</h5>
        <div class="card-body">
            <p class="card-text">Une excellente lecture et je vous le recommande
                vivement.</p>
            <div class="card">
                <p class="lead">Ticket - 8748</p>
                <p>Lettre à Elyse</p>
                <div class="m-3">
                    <img src="https://zupimages.net/up/21/32/6ysi.jpg"
                         class="rounded img-fluid border border-primary"
                         alt="visual">
                </div>
            </div>
            <div class="text-end mt-3">
                <a href="#" class="btn btn-primary">Do something</a>
            </div>
        </div>
    </div>
</div>